.manaege-service {
  width: 100%;
  margin: 3.6rem 0;
}

table,
th,
td {
  border: 1px solid rgba(8, 24, 74, 0.288);
  border-collapse: collapse;
  padding: 1.5rem;
}

.manaege-service .buttons {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
}

.manaege-service button {
  border: none !important;
  padding: 1.5rem 3rem;
  cursor: pointer;
  font-size: 1.6rem;
}

.buttons .delete-btn {
  background-color: #ee0d09;
  color: #fff;
}

.buttons .update-btn {
  background-color: #08194a;
  color: #fff;
}

.manaege-service tbody tr:last-child {
}

.manaege-service th {
  font-size: 2.4rem;
  color: #08194a;
}

.manaege-service td {
  font-size: 1.8rem;
}

.manaege-service h3 {
}
