.carousel {
  overflow: hidden;
  position: relative;
}

.inner {
  white-space: nowrap;
  transition: transform 0.3s;
}

.carousel-item {
  display: inline-flex;
  height: calc(100vh - 14rem);
  color: #fff;
  background-size: cover;
  background-position: center;
}

.indicators {
  display: flex;
  justify-content: center;

  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.indicators > button {
  border: none;
  width: 3rem;
  height: 3rem;
  margin: 5px;
  border-radius: 100px;
  cursor: pointer;
}

.indicators > button.active {
  background-color: #ee0d09;
  color: #fff;
}
