.formInput {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.formInput label {
  font-size: 1.8rem;
  font-weight: 600;
  color: #08194a;
}

.form-input-box {
  font-size: 1.8rem;
  padding: 15px;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 5px;
  border: 1px solid rgba(8, 24, 74, 0.288);
}

.formInput span {
  font-size: 1.6rem;
  color: red;
  display: none;
  line-height: 1.2;
  padding: 0 1.5rem;
}

input:invalid[focused="true"] ~ span {
  display: block;
}
