/* secondary color: #08194A
   primary color: #EE0D09;   
*/

.btn {
  padding: 1.5rem 2rem;
  border: none;
  background-color: #ee0d09;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 500;
  border-radius: 0.5rem;
  cursor: pointer;
  text-transform: uppercase;
}

form {
  width: 60rem;
  border-radius: 10px;
  padding: 2rem;
}

form h1 {
  color: #08194a;
  text-align: center;
  font-size: 5rem;
  margin-bottom: 2rem;
}

form button {
  width: 100%;
  height: 50px;
  padding: 10px;
  border: none;
  background-color: #08194a;
  color: white;
  border-radius: 5px;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  margin-top: 15px;
  margin-bottom: 30px;
}
