/* secondary color: #08194A
   primary color: #EE0D09;   
*/

.btn {
  padding: 1.5rem 2rem;
  border: none;
  background-color: #ee0d09;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 500;
  border-radius: 0.5rem;
  cursor: pointer;
  text-transform: uppercase;
}
