/* secondary color: #08194A
   primary color: #EE0D09;   
*/
.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 2rem;
}

.btn {
  padding: 1.5rem 2rem;
  border: none;
  background-color: #ee0d09;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 500;
  cursor: pointer;
  text-transform: uppercase;
}

.btn-lg {
  padding: 2rem 4rem;
}

form {
  width: 60rem;
  border-radius: 10px;
  padding: 2rem;
}

form h1 {
  color: #08194a;
  text-align: center;
  font-size: 5rem;
  margin-bottom: 2rem;
}

form button,
.social-btn {
  width: 100%;
  padding: 2rem 0;
  border: none;
  background-color: #08194a;
  color: white;
  border-radius: 5px;
  font-weight: bold;
  font-size: 1.8rem;
  cursor: pointer;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  text-transform: capitalize;
}

.social-btn {
  background-color: #ee0d09;
}

.login-signup-text {
  font-size: 2rem;
  color: #08194a;
  font-weight: 600;
  text-align: center;
}

.login-signup-link {
  color: #ee0d09;
  margin-left: 0.5rem;
}

.error-message {
  font-size: 1.8rem;
  text-align: center;
  color: #ee0d09;
  font-weight: 600;
}
