.page-head-img {
  background: linear-gradient(to right, rgba(8, 24, 74, 0.685) 50%, transparent),
    url("../../images/page-head.jpg");
  background-size: cover;
  background-position: center;
  height: 30rem;

  padding: 0 6rem;
  display: flex;
  align-items: center;
}

.page-head-img span {
  font-size: 2rem;
  color: #ee0d09;
  font-weight: 600;
}

.page-head-img h2 {
  font-size: 4rem;
  color: #fff;
}
